.generator {
    height: 100%;
    width: 100%;
    position: relative;

    &__wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        svg {
            width: 100%;
            height: 100%;
            padding: 10px;
        }
    }
}

.gen-settings {
    height: 100%;
    width: 300px;
    border-right: 2px $light solid;

    &__content {
        padding: 20px;
    }
}

.tiles-sidebar {
    height: 100%;
    width: 300px;
    border-left: 2px $light solid;

    &__content {
        padding: 20px;
    }
}
