.fullscreen-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__header {

    }

    &__content {
        flex-grow: 1;
    }

    &__footer {

    }
}

.panel-layout {
    display: flex;
    align-items: stretch;

    &--vertical {
        flex-direction: column;
        width: 100%;
    }

    &--horizontal {
        flex-direction: row;
        height: 100%;
    }

    &__side {

    }

    &__content {
        flex-grow: 1;
    }
}
