.fullscreen-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__header {

    }

    &__content {
        flex-grow: 1;
    }

    &__footer {

    }
}

.panel-layout {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;

    &--vertical {
        flex-direction: column;
    }

    &--horizontal {
        flex-direction: row;
    }

    &__side {

    }

    &__content {
        flex-grow: 1;
    }
}

.scrollable {
    width: 100%;
    height: 100%;
    position: relative;

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
