.svg-editor {
    height: 100%;

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__svg {
        width: 100%;
        max-width: 30%;
    }
}
