.svg-editor {
    height: 100%;

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__svg {
        width: 100%;
        max-width: 400px;
    }

    &__toolbar {
        border-bottom: 2px $light solid;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: -15px;

        > * {
            margin-right: 15px;
        }
    }
}

.svg-properties {
    width: 280px;
    height: 100%;
    border-left: 2px $light solid;
    padding: 20px;
    overflow-y: auto;

    &__text {
        &--unselected {
            opacity: 0.7;
        }
    }
}

.svg-element-viewer {
    width: 250px;
    height: 100%;
    border-right: 2px $light solid;

    &__content {
        padding: 20px;
    }

    &__items {
        margin-bottom: -10px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover, &--active {
            background-color: $light;
            box-shadow: 0 0 0 5px $light;
        }
    }

    &__thumb {
        width: 40px;
        height: 40px;
        border: 1px $grey-light solid;
        background-color: white;
    }

    &__label {
        margin-left: 1rem;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__action {
        background: none;
        outline: none;
        border: none;
        padding: 0;
        color: rgba($black, 0.7);

        &--delete:hover {
            color: $danger;
        }
    }
}

.no-pointer-events {
    pointer-events: none;
}
