.svg-editor {
    height: 100%;

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__svg {
        width: 100%;
        max-width: 30%;
    }

    &__toolbar {
        border-bottom: 2px $light solid;
        padding: 10px;
    }
}

.svg-properties {
    width: 300px;
    height: 100%;
    border-left: 2px $light solid;
    padding: 20px;
    overflow-y: auto;

    &__text {
        &--unselected {
            opacity: 0.7;
        }
    }
}

.no-pointer-events {
    pointer-events: none;
}
