@charset "utf-8";

$navbar-breakpoint: "400px";

@import "~bulma/bulma";

html {
  overflow: hidden;
}

@import "layout";
@import "svg-editor";
@import "palette-picker";
@import "tiles";
@import "generator";

.select {
  width: 100%;
}

.field-container {
  border: 1px $light solid;
  padding: 15px;
}

.import {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-boundary {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 30px;
    text-align: center;
  }
}
